<!DOCTYPE html>
<html>
<head>
<title>Your Cart</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">

    <!-- LOGO -->
    <div class="nav-left">
        <span class="logo">🛒 ShopEasy</span>
    </div>


    <!-- SEARCH BAR -->
    <div class="nav-center">

        <input type="text"
        placeholder="Search for products..."
        class="search-bar">

        <button class="search-btn">
            Search
        </button>

    </div>


    <!-- RIGHT SIDE -->
    <div class="nav-right">

        <a href="/home">
            Home
        </a>

        <a href="/cart">
            Cart 🛒
        </a>

        <a href="/recommend">
            Recommended
        </a>

        <a href="/logout">
            Logout
        </a>

    </div>

</div>

<h2 style="text-align:center;">Your Cart</h2>

<div class="product-grid">

{% for product in cart %}

<div class="product-card">

<img src="{{ url_for('static',
filename='images/' + product.image) }}">

<h3>{{product.name}}</h3>

<p class="price">₹999</p>

<a href="/remove_from_cart/{{product.product_id}}">
<button>Remove</button>
</a>

</div>

{% endfor %}
<div style="text-align:center; margin-top:20px;">

<a href="/checkout">

<button class="checkout-btn">
Proceed to Checkout
</button>

</a>

</div>
</div>

</body>
</html>